/* Styles go here */

.thumbs {
    width: 99999px;
    margin: 0px;
    padding: 0px;
    transition: margin 2.3s;
}

.thumbs li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

.thumbs img {
    width: 160px;
    display: block;
    cursor: pointer;
}

.largeImg {
    width: 320px;
    height: 240px;
    border: 2px dotted black;
    margin-bottom: 10px;
    margin-left: 10px;
}